@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  /*url("../fonts/Roboto-Regular.woff") format("woff");*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  /*url("../fonts/Roboto-Regular.woff") format("woff");*/
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Roboto-bold", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #283039;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-body {
  margin-top: 40px;
}

.header {
  background-color: #3169a5;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
}

table {
  color: #fff;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: -10px; /* correct offset on first border spacing if desired */
}
thead tr {
  color: #9a9ba2;
}

tbody tr > td {
  background-color: #151a22;
  padding: 8px;
  text-align: center;
}

td:first-child {
  width: 15em;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  color: #60A8F6;
}
td:last-child {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
